{% extends 'base/home_base.html' %}
{% load static %}
{% block pagecss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<style>
    .dirty {
        border-color: #5A5 !important;
        background: #EFE !important;
    }

    .dirty:focus {
        outline-color: #8E8 !important;
    }

    .error {
        border-color: red !important;
        background: #FDD !important;
    }

    .error:focus {
        outline-color: #F99 !important;
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fcf;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fcf transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
{% endblock pagecss %}
{% block content %}
<div class="page-content bg-white" id="detail">
    <div class="section-full content-inner wedding-venues-details bg-gray">
        <div class="container">
            <div class="row ">
                <div class="col-xl-4 col-lg-5 col-md-12">
                    <aside class="side-bar listing-side-bar">
                        <div class="venues-sidebar-info">
                            <div class="title-head">
                                <h5 class="title">Detail d'un medicaments</h5>
                            </div>
                            <small class="small-bx">le detail complet d'un medicaments et ses compositions </small>
                            <div class="lds-ring" v-if='data_loader'>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
							</div>
                            <ul class="vender-profile-list" v-if='!data_loader'>
                                <li><a data-toggle="modal" data-target="#edit-details" class="btn edit"
                                href="javascript:;">Modifier<i class="fa fa-pencil"></i></a></li>
                                <li><strong>Code:</strong> ${medicament.code}</li>
                                <li><strong>Nom:</strong> ${medicament.nom}</li>
                                <li><strong>Dci 1:</strong> ${medicament.dci1}</li>
                                <li><strong>Dosage :</strong> ${medicament.dosage1} </li>
                                <li><strong>Unite de dosage :</strong> ${medicament.unite_dosage1} </li>
                                <li><strong>Forme :</strong> ${medicament.forme}</li>
                                <li><strong>Presentation :</strong> ${medicament.presentation}</li>
                                <li><strong>Ph :</strong> ${medicament.ph}</li>
                                <li><strong>PPV :</strong> ${medicament.ppv} CFA</li>
                                <li><strong>Prix Brute :</strong> ${medicament.prix_br} </li>
                                <li><strong>Principe Genetique :</strong> ${medicament.principe_genetique} </li>
                                <li><strong>Taux Remboursement :</strong> ${medicament.taux_remboursement} </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block pagejs %}
<script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.4/dist/vuelidate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.4/dist/validators.min.js"></script>
<script src="https://unpkg.com/vue@2"></script>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
	Vue.use(window.vuelidate.default)
	const { required, minLength, email, sameAs, maxStartDate } = window.validators;
	var app = new Vue({
		el: '#detail',
		data: {
			base_url: window.location.protocol + "//" + window.location.host + "/",
			data_loader: true,
            code: "{{code}}",

			//data
			medicaments: {},
			
			update_medoc: {
				"code": "",
				"nom": "",
				"dci1": "",
				"dosage1": "",
				"unite_dosage1": "",
				"forme": "",
				"presentation": "",
				"ppv": "",
				"ph": "",
				"prix_br": "",
				"principe_genetique": "",
				"taux_remboursement": "",
			}

		},
		validations: {
			update_medoc: {
				code: {
					minLength: minLength(3),
					required,
				},
				nom: {
					minLength: minLength(3),
					required,
				},
				dci1: {
					minLength: minLength(3),
					required,
				},
				dosage1: {
					minLength: minLength(3),
					required,
				},
				unite_dosage1: {
					minLength: minLength(1),
					required,
				},
				forme: {
					minLength: minLength(3),
					required,
				},
				presentation: {
					minLength: minLength(3),
					required,
				},
				ppv: {
					minLength: minLength(3),
					required,
				},
				ph: {
					minLength: minLength(3),
					required,
				},
				prix_br: {
					minLength: minLength(3),
					required,
				},
				principe_genetique: {
					minLength: minLength(3),
					required,
				},
				taux_remboursement: {
					minLength: minLength(3),
					required,
				},
			},
			validationMedocGroup: ['update_medoc.code', 'update_medoc.nom', 'update_medoc.dci1', 'update_medoc.dosage1', 'update_medoc.forme', 'update_medoc.presentation', 'update_medoc.ppv', 'update_medoc.ph', 'update_medoc.prix_br', 'update_medoc.principe_genetique', 'update_medoc.taux_remboursement']
		},
		delimiters: ["${", "}"],
		mounted() {
			this.get_detail_medoc()

		},
		methods: {
			status(validation) {
				return {
					error: validation.$error,
					dirty: validation.$dirty
				}
			},

            get_detail_medoc: function () {
				axios.defaults.xsrfCookieName = 'csrftoken';
				axios.defaults.xsrfHeaderName = 'X-CSRFToken';
				axios.get("/api/v1/medicaments/" + this.code)
					.then(response => {
                        console.log(response.data)
						this.medicament = response.data
						this.data_loader = false;

					})
					.catch((err) => { console.log(err); });
			},
					
			reset_data: function () {
				    this.update_medoc.code = "",
					this.update_medoc.nom = "",
					this.update_medoc.dci1 = "",
					this.update_medoc.dosage1 = "",
					this.update_medoc.unite_dosage1 = "",
					this.update_medoc.forme = "",
					this.update_medoc.presentation = "",
					this.update_medoc.ppv = "",
					this.update_medoc.ph = "",
					this.update_medoc.prix_br = "",
					this.update_medoc.principe_genetique = "",
					this.update_medoc.taux_remboursement = ""
			},
		},
	})
</script>

{% endblock pagejs %}