/* Business Enquiries */
.enquiries-table .enquiries-head ul,
.enquiries-table .enquiries-body ul,
.enquiries-table .enquiries-footer ul{
	padding-left: 0;
	margin-bottom: 0;
	display: flex;
	border: 1px solid rgba(0,0,0,0.1);
	border-width: 0 1px 1px;
}
.enquiries-table .enquiries-head ul li{
	font-weight: 500;
}
.enquiries-table .enquiries-head ul li,
.enquiries-table .enquiries-body ul li{
	display: inline-block;
	width: 20%;
	padding: 15px;
	font-size: 14px;
	color: #000;
}
.enquiries-table .enquiries-list a ul li {
	color: #000;
}
.enquiries-box{
	background:#fff;
}
.enquiries-box.dlab-tabs .nav.nav-tabs{
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);
}
.enquiries-box.dlab-tabs .tab-pane {
    padding: 0;
}
.enquiries-box.dlab-tabs .nav-tabs > li > a {
	background: #fff;
    font-family: Poppins;
    padding: 15px;
    font-size: 14px;
	margin-bottom: 1px;
	border-width: 0 0 3px 0;
}
.enquiries-box.dlab-tabs .nav-tabs > li > a.active, 
.enquiries-box.dlab-tabs .nav-tabs > li > a.active:focus, 
.enquiries-box.dlab-tabs .nav-tabs > li > a.active:hover {
    background-color: #fff;
    border-bottom: 2px solid #3d99f6;
    border-width: 0 0 3px 0;
}
.enquiries-table .enquiries-footer li{
	display: inline-block;
}
.enquiries-table .enquiries-footer li.pagination-bx{
	width: 40%;
}
.enquiries-table .enquiries-footer li.prev,
.enquiries-table .enquiries-footer li.next{
	width: 30%;
}
.enquiries-table .enquiries-footer li.pagination-bx .pagination {
    border: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 5px 0;
}
.enquiries-table .enquiries-footer li.pagination-bx li .form-control{
    width: 80px;
    height: 35px;
    padding: 15px;
    margin: 0 10px
}
/* Business Supplier Settings */
.business-supplier .title {
    padding: 0px 0 15px 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    color: #222;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.business-supplier p {
	font-size: 16px;
    margin-bottom: 10px;
    line-height: 30px;
    color: #888;
    font-weight: 400;
}
.business-supplier .form-box textarea.form-control{
	height:200px;
}
.business-supplier .form-box{
	margin-bottom:50px;
}
.business-supplier  .list-inline > li{
    margin-bottom: 10px;
}

.bns-form .checkbox-lg input[type=checkbox] + label:before, 
.bns-form .checkbox-lg input[type=radio] + label:before{
    border: 2px solid #3d99f6;
}

.bns-form .custom-checkbox.checkbox-lg .custom-control-input:checked~.custom-control-label:before{
    background-color: #3d99f6;
    border: 2px solid #3d99f6;
}
.bns-form .btn-select .btn:hover, 
.bns-form .btn-select .btn.active{
    background: #3d99f6;
    border-color: #3d99f6;
    box-shadow: 5px 5px 20px -10px #3d99f6;
}

.bns-form  .btn-link{
    color: #3d99f6;
    font-weight: 600;
    text-decoration: underline;
}

/* Business Settings */
.business-settings .form-title h2,
.business-profile-settings .title{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 5px;
}
.business-settings .form-title,
.business-profile-settings .title{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 30px;
}
.business-settings .upload-photo {
    justify-content: center;
    display: flex;
}
.business-settings .upload-photo .thum {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50px;
    margin: 0 auto 15px;
}
.business-settings .upload-photo .input-file h6 {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}
.business-settings .upload-photo .input-file input {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
}
.business-settings .upload-photo .input-file h6:hover {
    text-decoration: underline;
}

/* Business Profile Settings */
.business-profile-settings .title-head{
	border-bottom: 1px solid rgba(0,0,0,0.5);
	padding-bottom: 10px;
	margin-bottom: 20px;
	display: flex;
}
.business-profile-settings .title-head span{
	font-size: 22px;
	font-weight: 500;
	align-self: center;
}
.business-profile-settings .title-head .btn{
	margin-left: auto;
}
.business-profile-settings .users-list-subhead ul{
	padding-left: 0;
}
.business-profile-settings .users-list-subhead ul li span{
	float: right;
}
.business-profile-settings .users-list-subhead ul li:first-child{
	border-bottom: 1px solid rgba(0,0,0,0.5);
	font-weight: 600;
}
.business-profile-settings .users-list-subhead ul li{
	display: block;
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.bns-navicon{
	font-size: 30px;
    color: #fff;
    width: 60px;
    line-height: 60px;
    text-align: center;
}
.bns-navicon:active,
.bns-navicon:focus,
.bns-navicon:hover{
	color:#fff;
}
.bns-frame.open .bns-navicon i.la-bars,
.bns-navicon i.la-close{
	display:none;
}
.bns-frame.open .bns-navicon i.la-close{
	display:inline-block;
}





/* Frame Box */
.bns-frame{
    padding: 60px 0 0 250px;
	background-color: #f9f9f9;	
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
    min-height: 100vh;	
}
.bns-frame.open{
	padding: 60px 0 0 0;
}
.bns-frame.open .bns-frame-side{
	left: -260px;
}
.bns-frame-top {
    background-color: #3d99f6;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
	display: flex;	
}
.bns-user{
	margin-left: auto;
    margin-right: 20px;	
}
.dropbx img{
	width: 40px;
    border-radius: 40px;
    position: absolute;
    left: 0;
    top: 10px;
    border: 3px solid #fff;
}
.dropbx{
	height: 60px;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 50px;
    cursor: pointer;	
}
.dropbx span{
	font-size: 13px;
    color: #fff;
    font-weight: 500;
}
.bns-user .dropdown-menu{
    margin: 0;
    border: 0;
    left: auto !important;
    right: 0;
    width: 250px;
    box-shadow: 0px 10px 40px 0 rgba(0,0,0,0.05);
    transform: unset !important;
    top: 60px !important;
}
.bns-user .dropdown-menu li{
	
}
.bns-user .dropdown-menu li a{
	padding: 10px 25px;
    display: block;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.bns-user .dropdown-menu li:last-child a{
	border-bottom:0;
}
.bns-frame .container-fluid{
    padding-right: 30px;
    padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 1px;	
}
.bns-frame-side {
    position: fixed;
    background-color: #fff;
    border-right: 1px solid rgba(0,0,0,0.1);
    width: 250px;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    z-index: 999;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;	
	display: flex;
    flex-wrap: wrap;
	overflow-Y: scroll;
}
.bns-logo {
    width: 250px;
    padding: 10px 25px;
    height: 60px;
    border-right: 1px solid rgba(255,255,255,0.2);
    background-color: #2784e2;
}
.bns-copy{
	margin-top: auto;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 10px 20px 10px 20px;
    width: 100%;	
}
.bns-nav{
	width:100%;
}
.bns-nav ul{
	margin: 0;
    padding: 0;
    list-style: none;
}
.bns-nav > ul > li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 6px 0;
}
.bns-nav ul li a{
	color: #777;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 20px;
    display: block;
    position: relative;	
}
.bns-nav ul li a .la-plus{
	color: #999;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 8px;
}
.bns-copy .bns-mail{
	color: #000;
    text-decoration: underline;
	display: block;
    margin-bottom: 4px;
}
.bns-copy ul{
	list-style: none;
    margin: 0;
    padding: 0;
}
.bns-copy ul li{
	display: inline-block;
}
.bns-copy ul li a{
	width: 32px;
    height: 32px;
    line-height: 30px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 32px;
    text-align: center;
    font-size: 13px;
    color: #777;
}
.bns-copy p{
	font-size: 14px;
    color: #777;
    margin-bottom: 4px;
}
.bns-form .label-title{
	font-size: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}
/* Responsive */
.btn.btn-lose,
.btn.btn-book,
.btn.btn-progress{
	font-size: 12px;
    font-weight: 500;
    letter-spacing: normal;
    padding: 2px 10px;
    border-radius: 40px;
}
.btn.btn-lose:active,
.btn.btn-lose:hover,
.btn.btn-lose:focus,
.btn.btn-lose{
	background-color:#d95353;
}
.btn.btn-book:active,
.btn.btn-book:focus,
.btn.btn-book:hover,
.btn.btn-book{
	background-color:#4bb439;
}
.btn.btn-progress:active,
.btn.btn-progress:focus,
.btn.btn-progress:hover,
.btn.btn-progress{
	background-color:#b8b8b8;
}
.enquiries-body > a{
	display:block;
}
.enquiries-body > a:hover{
	background:#ececec;
}

/* Enquiries Box */
.enquiries-details .enquiries-box{
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 20px;
	border-radius: 6px;
    box-shadow: 5px 5px 0 0 rgba(0,0,0,0.1);
}
.enquiries-box .title{
	font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    margin: -20px -20px 20px -20px;
    background: #f7f7f7;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.enquiries-box .enquiries-details-list,
.enquiries-box .track-progress {
	padding-left: 0;
	margin-bottom: 0;
}
.enquiries-box .enquiries-details-list li {
    display: block;
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 15px;
    color: #333;
    padding: 7px 0;
	word-break: break-word;
}
.enquiries-box .enquiries-details-list li a,
.enquiries-box .enquiries-details-list li span{
	font-weight: 400;
	margin-left: 15px;
    color: #888;
}
.enquiries-box .track-progress li{
	display: block;
}

.enquiries-profile{
	position:relative;
    padding-left: 120px;
    margin-bottom: 50px;
}
.enquiries-profile .userimg{
	width: 100px;
    height: 100px;
    position: absolute;
	border-radius: 100px;
	left:0;
	top:0;
}
.enquiries-profile .profile-name{
	text-transform: capitalize;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
}
.enquiries-info{
	margin:0;
	padding:0;
	list-style:none;
    display: flex;	
}

.enquiries-info li{
	padding: 0 0 0 45px;
    position: relative;
    margin-right: 30px;	
}
.enquiries-info li span{
	font-size: 12px;
    display: block;
    font-weight: 600;
    color: #999;
    margin-bottom: 2px;
}
.enquiries-info li i{
	position: absolute;
    left: 0;
    font-size: 36px;
    line-height: 40px;
}
.enquiries-info li p{
	margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    color: #444;
}
.enquiries-info li.venues{
	margin-right:auto;
}
/* add-video-bx */
.add-video-bx{
    background: #fff;
    position: relative;
    padding: 4px 4px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    box-shadow: 0 0 30px -15px rgba(0,0,0,0.2);
	margin-bottom:30px;
}
.add-video-bx .close{
    background: #e94949;
    opacity: 1;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    position: absolute;
    right: -10px;
    top: -10px;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
}
.add-video-bx .close:hover{
	background:#ff0000;
}
.add-video-bx .title{
    margin: 0;
    border: 0;
    font-size: 18px;
    line-height: 28px;
    padding: 10px 10px;
	color:#525252;	
}
.add-video-bx .media{
	position:relative;
}
.add-video-bx .play{
	width: 50px;
    height: 50px;
    line-height: 46px;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    color: #fff;
    text-shadow: 0 0 10px #000;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    box-shadow: 0 0px 20px #000;
    -webkit-box-shadow: 0 0px 20px #000;
}
@media only screen and (max-width: 1200px) {
	.enquiries-info{
		flex-wrap:wrap;
	}
	.enquiries-info li{
		flex:0 0 50%;
		width:50%;
		margin-right:0;
		margin-bottom:20px;
	}
}
@media only screen and (max-width: 991px) {
	.bns-frame-side{
		left: -250px;
	}
	.bns-frame {
		padding: 60px 0 0 0px;
	}
	.bns-frame.open .bns-frame-side {
		left: 0;
		box-shadow: 30px 30px 30px 0 rgba(0,0,0,0.1);
	}
	
}
@media only screen and (max-width: 576px) {
	.bns-user .dropdown-menu{
		top: 50px !important;
	}
	.dropbx span {
		display:none;
	}
	.bns-frame {
		padding: 50px 0 0 0px;
	}
	.dropbx{
		height: 50px;	
	    padding-left: 35px;	
	}
	.bns-frame .container-fluid {
		padding-right: 15px;
		padding-left: 15px;
	}
	.bns-logo{
		width: 200px;
		padding: 8px 15px;
		height: 50px;
	}
	.bns-frame-top{
		height: 50px;
	}
	.bns-navicon{
		font-size: 24px;
		width: 50px;
		line-height: 50px;
	}
	.dropbx img {
		width: 35px;
		border-radius: 40px;
		position: absolute;
		left: 0;
		top: 8px;
		border: 2px solid #fff;
	}
	.bns-user{
		margin-right: 15px;
	}
	.bns-frame-side{
		top: 50px;
	    height: calc(100vh - 50px);	
	}
	.bns-frame.open {
		padding: 50px 0 0 0;
	}
	.enquiries-box.dlab-tabs .nav-tabs{
		display:flex;
		flex-wrap:wrap;		
	}
	.enquiries-box.dlab-tabs .nav-tabs > li{
		flex:0 0 50%;
		max-width:50%;		
	}
	.enquiries-box.dlab-tabs .nav-tabs > li > a{
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,0.1); 
	}
	.enquiries-table .enquiries-head ul, 
	.enquiries-table .enquiries-body ul, 
	.enquiries-table .enquiries-footer ul{
		flex-wrap:wrap;
	}
	.enquiries-table .enquiries-head ul li, 
	.enquiries-table .enquiries-body ul li{
		 flex:0 0 50%;
		 width: 50%;
	}
	.enquiries-table .enquiries-footer li.prev, 
	.enquiries-table .enquiries-footer li.next{
		width: 20%;
	}
	.enquiries-table .enquiries-footer li.pagination-bx {
		width: 60%;
	}
	.enquiries-profile .userimg {
		width: 50px;
		height: 50px;
	}
	.enquiries-profile{
		padding-left: 65px;
		margin-bottom: 10px;	
	}
	.enquiries-profile .profile-name{
		font-size: 24px;
		line-height: 30px;
	}
	.enquiries-info li i{
		font-size: 20px;
		line-height: 24px;
	}
	.enquiries-info li {
		padding: 0 0 0 25px;
	}
	.enquiries-info li p{
		font-size: 13px;
	}
	.business-supplier .form-box{
		margin-bottom:20px;
	}
}
