{% extends 'base/dash-home.html' %}
{% load static %}
{% block pagecss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<style>
    .dirty {
        border-color: #5A5 !important;
        background: #EFE !important;
    }

    .dirty:focus {
        outline-color: #8E8 !important;
    }

    .error {
        border-color: red !important;
        background: #FDD !important;
    }

    .error:focus {
        outline-color: #F99 !important;
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fcf;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fcf transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
{% endblock pagecss %}
{% block content %}
<div class="bg-gray" id="catepage">
    <div class="container-fluid">
        <div class="max-w700 m-auto">
            <form class="business-supplier bns-form">
                <div class="form-box">
                    <h4 class="title">Ajouter une nouvelle categorie</h4>
                    <div class="row m-b30">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nom">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="lds-ring" v-if="on_send_category">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <button class="btn blue gradient">Ajouter</button>
                        </div>
                    </div>
                    <div class="row" v-if="get_category">
                        <div class="lds-ring">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="row" v-if="!get_category">
                        <div class="col-lg-6 col-md-4 col-sm-4" v-for="categorie in categories" :key="categorie.id">
                            <div class="add-video-bx">
                                <div class="media">
                                    <img :src="categorie.image" alt="" />
                                </div>
                                <h4 class="title">${categorie.nom}</h4>
                                <a type="button" v-on:click="show_delete_category(categorie.id)" class="close"><i
                                        class="la la-times"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}
{% block pagejs %}
{% include 'base/includes/cdn.html' %}
<script>
    Vue.use(window.vuelidate.default)
    const { required, minLength, email, sameAs, maxStartDate } = window.validators;
    var app = new Vue({
        el: '#catepage',
        data: {
            base_url: window.location.protocol + "//" + window.location.host + "/",
            on_send_category: false,
            get_category: true,
            categories: {}


        },
        validations: {

        },
        delimiters: ["${", "}"],
        mounted() {
            this.get_all_category()

        },
        methods: {
            status(validation) {
                return {
                    error: validation.$error,
                    dirty: validation.$dirty
                }
            },

            get_all_category: function () {
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                axios.get("/api/v1/category/")
                    .then(response => {
                        console.log(response.status);
                        this.categories = response.data.results
                        this.get_category = false;
                    })
                    .catch((err) => { console.log(err); });
            },

            show_delete_category: function (id) {
                Swal.fire({
                    title: 'Confirmer suppression ?',
                    text: "être vous sûre de supprimer cette categorie",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#2F86A6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui'
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.delette_medicament(id)
                    }
                })
            },

            delette_medicament: function (id) {
                this.on_delete_medoc = true;
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                axios.delete("/api/v1/category/" + id)
                    .then(response => {
                        if (response.status === 200) {
                            this.get_all_category()
                            toastr.success("Category supprimé avec succès!", "Suppression Ok!", { timeOut: 100000 })
                        } else {
                            toastr.error("Impossible de supprimer cet Medicaments", "Erreure de suppression!", { timeOut: 10000 })
                            this.on_delete_medoc = false;
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                        this.on_delete_medoc = false;
                        toastr.error("Impossible de supprimer cet Medicaments", "Erreure de suppression!", { timeOut: 10000 })
                    });
            },


        },
    })
</script>

{% endblock pagejs %}